@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>NRL matches are played in Australia and New Zealand from March to October. Each team plays 24 matches, with the highest placed team at the end of the regular season awarded the minor premiership.</p>
