@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Burslem Drive<br />
    Thornlie WA 6108<br />
    <abbr title="Email">Email:</abbr>
    30042104@tafe.wa.edu.au
</address>